body {
  font-family: monospace;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 1000;
}

p {
  font-size: 25px;
}

ul {
  list-style-type: none;
}

nav ul {
  background: rgb(126, 129, 194);
}

nav ul li {
  display: inline-block;
  font-size: 30px;
  margin-right: 30px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li:hover {
  background: rgb(168, 171, 214);
}

code {
  background: rgb(133, 133, 133);
  border-radius: 25%;
  font-size: 25px;
  border-style: solid;
}

div code {
  text-align: left;
}